<!-- Redirect to html version -->
@* <meta http-equiv="refresh" content="0;url=/Index.html"> *@

 <style>
  
hr {
    border: none;
    border-top: 3px dotted #ffffff; 
 
}

</style>

<div class="row text-center viewContainer">
    <div class="col-12 text-start pt-4 ms-md-3 pe-md-5">

        <!-- Welcome -->
        <p id="Welcome">
            <div class="text-center fs-4 fw-bold pb-2">WELCOME!</div>
            <div class="fs-5 fw-bold pt-1 pb-1"> To the website of Kelvyn Park High School 1968 graduating class and friends.</div>
            <div class="fs-5 pb-3 mt-1">We hope to remain in contact with each other as much as possible through this site.</div>
        </p>

        <!-- horizontal line -->
        <hr class="mt-2" />

        <!-- Check-In -->
        <p class="mt-3 fs-5" id="Check-In">
            <a class="chalk-link" href="https://www.classcreator.com/Chicago-IL-Kelvyn-Park-1968/page1.htm" target="_blank" title="Classmate Profiles" rel="external">Check-in</a>
            <div class="mt-1 fs-5">Register, share your information, and keep your information up to date for our next reunion. (Click on your name on profile page)</div>
        </p>

        <!-- 50-Year Reunion -->
        <p class="mt-3 fs-5" id="Reunion">
            <a class="chalk-link" href="http://www.classcreator.com/Chicago-IL-Kelvyn-Park-1968/50th-Reunion-2018.htm" title="50-Year Reunion" rel="external" target="_blank">50-Year Reunion</a>
        </p>

        <!-- Classmates -->
        <p class="mt-3 fs-5" id="Classmates">
            <a class="chalk-link" href="http://www.classcreator.com/Chicago-IL-Kelvyn-Park-1968/class_classmates.cfm" title="Classmates" rel="external" target="_blank">Classmates</a>
            <div class="mt-2 fs-5">A list of all of our classmates and some friends of the class who have asked to be included. (with links to their information page)</div>
        </p>

        <!-- In Memory -->
        <p class="ps-3 mt-3 fs-5" id="Memory">
            <a class="chalk-link" href="http://www.classcreator.com/Chicago-IL-Kelvyn-Park-1968/class_inmemory.cfm" target="_blank" title="In Memory" rel="external">In Memory</a>
            <div class="ps-3 mt-1 fs-5">Lists classmates who have passed. If you know of any others, please let us know so they may also be memorialized.</div>
        </p>

        <!-- Missing -->
        <p class="ps-3 mt-3  fs-5" id="Missing">
            <a class="chalk-link mt-2" href="http://www.classcreator.com/Chicago-IL-Kelvyn-Park-1968/class_classmates_missing.cfm" target="_blank" title="Missing" rel="external">Missing</a>
            <div class="ps-3 mt-2 mb-4 fs-5">Lists classmates for whom we do not have contact information.</div>
        </p>

        <!-- Facebook -->
        <p class="mt-2 fs-4 fw-bold" id="Facebook">Find us on <a href="https://www.facebook.com/groups/KPHS68/" target="_blank">Facebook!</a></p>

        <!-- 1968-2008 -->
        <p class="ps-3 mt-4 fs-5" id="1968-2008">
            <a class="chalk-link" href="Pages/DVD.html" target="self" title="1968-2008">1968-2008</a>
            <span class="fs-5"> featuring your classmates THEN and NOW. Enjoy!</span>
        </p>

        <!-- 1968 Yearbook -->
        <p class="ps-3 mt-2 fs-5" id="Yearbook">
            <a class="chalk-link" href="Pages/Yearbook.html" title="1968 Yearbook" rel="external" target="_blank">1968 Yearbook</a>
            <span class="fs-5"> (just our pictures from the Senior section)</span>
        </p>

        <!-- 1968 Graduation -->
        <p class="ps-3 mt-2 fs-5" id="Graduation">
            <a class="chalk-link" href="Pages/Grad.html" title="1968 Graduation" rel="external" target="_blank">1968 Graduation</a>
            <span class="fs-5"> (program)</span>
        </p>

        <!-- 2008 Class -->
        <p class="ps-3 mt-2 fs-5" id="2008-Class">
            <a class="chalk-link" href="Pages/ClassPics.html" title="2008 Class" rel="external" target="_blank">2008 Class</a>
            <span class="fs-5"> (Interactive Picture)</span>
        </p>

        <!-- 2008 DVD -->
        <p class="ps-3 mt-2 fs-5" id="2008-DVD">
            <a class="chalk-link" href="Pages/DVD.html" title="2008 DVD">2008 DVD</a>
            <span class="fs-5"> (See it as Bob made it.)</span>
        </p>

        <!-- 2008 Pictures -->
        <p class="ps-3 mt-2 fs-5" id="2008-Pictures">
            <a class="chalk-link" href="Pages/Photos.html" title="2008 Pictures">2008 Pictures</a>
            <span class="fs-5"> (what we did, what we saw)</span>
        </p>

        <!-- Gallery -->
        <p class="ps-3 mt-2 fs-5" id="Gallery">
            <a class="chalk-link" href="~/kphs68combo" title="Gallery">Gallery</a>
            <span class="fs-5"> (Collections of our Pictures)</span>
        </p>

        <!-- Contact -->
        <p class="mt-4 fs-5" id="Contact">
            <a class="chalk-link" href="https://www.classcreator.com/Chicago-IL-Kelvyn-Park-1968/class_contact.cfm" title="Contact" rel="external" target="_blank">Contact</a>
            <div class="mt-2 fs-5">Contact us with this automagic eMail page.</div>
        </p>

        <!-- More Sites -->
        <p class="mt-2 fs-5" id="More">
            <a class="chalk-link" href="Pages/More.html" target="_self" title="Links">More Sites</a>
            <dir class="mt-2 fs-5 p-0 mb-0">These will help you find other KPHS and Reunion sites.</dir>
            <div class="fs-5">If you know of any others, please contact the webmaster.</div>
        </p>

        <!-- horizontal line -->
        <hr class="mt-3"/>

        <!-- Reunion Comittee Contact -->
        <p class="mt-4 fs-5" id="Comittee-Contact">
            To contact a member of the Reunion Committee, please click on the <a href="http://www.classcreator.com/Chicago-IL-Kelvyn-Park-1968/class_contact.cfm" target="self" title="Contact">Contact</a> page.
        </p>

        <!-- Reunion Comittee - centered text -->
        <p class="mt-4 fs-5 text-center fw-bold" id="Comittee">2023 REUNION COMMITTEE</p>
        <p class="mb-4 text-center fs-5">Connie, Pat, Sharon</p>

    </div><!-- End Col -->

    <div id="groove"></div>

    <!-- End Row -->
</div>

<div id="chalk"></div>
<div id="eraser"></div>
<div id="ruler"></div>
