@{
    ViewData["title"] = ViewData["Privacy"];
}

<style>
    .my-box {
        padding: 8px;
        margin-bottom: 7px;
        background-color: #60605F; /* TOS & Privacy Gray */
        color: black;
        display: block;
        text-decoration: none;
    }

    .my-gradient-heading {
        width: auto;
        background: linear-gradient(90deg, #60605F, transparent 100%);
        color: black;
        padding: 5px 10px;
        margin: 10px 0 0 0;
        max-width: 100%;
        border-radius: 15px;
        font-weight: bold;
    }

    .my-div-spacing {
        width: auto;
        padding: 5px 10px;
        max-width: 100%;
        text-align: left;
        font-weight: normal;
        line-height: 18px;
    }

    .my-div-spacing_bullet:before {
        width: auto;
        content: "-";
        padding: 5px 10px;
        max-width: 100%;
        text-align: left;
        font-weight: normal;
        line-height: 18px;
    }

</style>

<!-- Privacy Policy -->
<div class="bg-gray-light text-white mx-auto text-center mb-0 mb-lg-3" style="max-width: 90%;">

    <h1 class="my-box">Privacy Policy</h1>

    <!-- Policy Content -->
    <div style="padding: 5px; width: 98%; text-align: left; color: black;">
        <div style="padding: 5px; width: 98%; text-align: left;">
            <p style="font-weight: 500; font-size: 18px; line-height: 22px;">
                This privacy policy has been compiled to better serve those who are concerned with how their "Personally identifiable information" (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
            </p>
        </div>

        <div class="my-gradient-heading">What personal information do we collect from the people that visit our blog, website or app?</div>
        <div class="my-div-spacing">When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address or other details to help you with your experience.</div>

        <div class="my-gradient-heading">When do we collect information?</div>
        <div class="my-div-spacing">We collect information from you when you register on our site or enter information on our site.</div>

        <div class="my-gradient-heading">How do we use your information?</div>
        <div class="my-div-spacing">
            We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
        </div>
        <div class="my-div-spacing_bullet">To personalize user's experience.</div>
        <div class="my-div-spacing_bullet">To improve our website in order to better serve you.</div>
        <div class="my-div-spacing_bullet">To allow us to better service you in responding to your customer service requests.</div>
        <div class="my-div-spacing_bullet">To administer a contest, promotion, survey or other site feature.</div>
        <div class="my-div-spacing_bullet">To send periodic emails regarding your order or other products and services.</div>

        <div class="my-gradient-heading">How do we protect visitor information?</div>
        <div class="my-div-spacing">We do not use vulnerability scanning and/or scanning to PCI standards.</div>
        <div class="my-div-spacing">We use regular Malware Scanning.</div>
        <div class="my-div-spacing">We do not use an SSL certificate.</div>
        <div class="my-div-spacing">We only provide articles and information, we never ask for personal or private information other than name and email addresses.</div>

        <div class="my-gradient-heading">Do we use "cookies"?</div>
        <div class="my-div-spacing">
            Yes. Cookies are small files that a site or its service provider transfers
            to your computer"s hard drive through your Web browser (if you allow) that
            enables the site"s or service provider"s systems to recognize your browser
            and capture and remember certain information. For instance, we use cookies
            to help us remember and process the items in your shopping cart. They are
            also used to help us understand your preferences based on previous or current
            site activity, which enables us to provide you with improved services. We
            also use cookies to help us compile aggregate data about site traffic and
            site interaction so that we can offer better site experiences and tools in
            the future.
        </div>
        <div class="my-div-spacing">We use cookies to:</div>
        <div class="my-div-spacing_bullet">Understand and save user"s preferences for future visits.</div>
        <div class="my-div-spacing">You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser"s Help menu to learn the correct way to modify your cookies.</div>
        <div class="my-div-spacing">
            If you disable cookies off, some features will be disabled It won"t affect the
            users experience that make your site experience more efficient and some of our
            services will not function properly. However, you can still place orders.
        </div>

        <div class="my-gradient-heading">Third Party Disclosure</div>
        <div class="my-div-spacing">
            We do not sell, trade, or otherwise transfer to outside parties your personally
            identifiable information.
        </div>

        <div class="my-gradient-heading">Third party links</div>
        <div class="my-div-spacing">
            Occasionally, at our discretion, we may include or offer third party products
            or services on our website. These third party sites have separate and independent
            privacy policies. We therefore have no responsibility or liability for the content
            and activities of these linked sites. Nonetheless, we seek to protect the integrity
            of our site and welcome any feedback about these sites.
        </div>

        <div class="my-gradient-heading">Google</div>
        <div class="my-div-spacing">
            Google"s advertising requirements can be summed up by Google"s Advertising
            Principles. They are put in place to provide a positive experience for users.
            <button class="my-no-border bg-transparent text-white" id="newTab" onclick="newTab('https://support.google.com/adwordspolicy/answer/1316548?hl=en')">Click Here for More Info.</button>
        </div>
        <div class="my-div-spacing">
            We use Google AdSense Advertising on our website. Google, as a third party vendor,
            uses cookies to serve ads on our site. Google"s use of the DART cookie enables it
            to serve ads to our users based on their visit to our site and other sites on the
            Internet. Users may opt out of the use of the DART cookie by visiting the Google
            ad and content network privacy policy.
        </div>
        <div class="my-div-spacing">We have implemented the following:</div>
        <div class="my-div-spacing_bullet">Demographics and Interests Reporting</div>
        <div class="my-div-spacing">
            We along with third-party vendors, such as Google use first-party cookies
            (such as the Google Analytics cookies) and third-party cookies (such as the
            DoubleClick cookie) or other third-party identifiers together to compile data
            regarding user interactions with ad impressions, and other ad service functions
            as they relate to our website.
        </div>
        <div class="my-div-spacing">
            Opting out:<br />
            Users can set preferences for how Google advertises to you using the Google Ad
            Settings page. Alternatively, you can opt out by visiting the Network Advertising
            initiative opt out page or permanently using the Google Analytics Opt Out Browser
            add on.
        </div>

        <div class="my-gradient-heading">California Online Privacy Protection Act</div>
        <div class="my-div-spacing">
            CalOPPA is the first state law in the nation to require commercial websites and
            online services to post a privacy policy.  The law"s reach stretches well beyond
            California to require a person or company in the United States (and conceivably
            the world) that operates websites collecting personally identifiable information
            from California consumers to post a conspicuous privacy policy on its website
            stating exactly the information being collected and those individuals with whom
            it is being shared, and to comply with this policy. -  <button class="my-no-border bg-transparent text-white" id="newTab" onclick="newTab('https://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf')">Click Here for More Info.</button>
        </div>
        <div class="my-div-spacing">According to CalOPPA we agree to the following:</div>
        <div class="my-div-spacing">Users can visit our site anonymously</div>
        <div class="my-div-spacing">
            Once this privacy policy is created, we will add a link to it on our home page,
            or as a minimum on the first significant page after entering our website.
        </div>
        <div class="my-div-spacing">
            Our Privacy Policy link includes the word "Privacy", and can be easily be found on
            the page specified above.
        </div>
        <div class="my-div-spacing">Users will be notified of any privacy policy changes:</div>
        <div class="my-div-spacing_bullet">On our Privacy Policy Page</div>
        <div class="my-div-spacing">Users are able to change their personal information:</div>
        <div class="my-div-spacing_bullet">By logging in to their account </div>
        <div class="my-div-spacing">How does our site handle do not track signals?</div>
        <div class="my-div-spacing">
            We honor do not track signals and do not track, plant cookies, or use advertising
            when a Do Not Track (DNT) browser mechanism is in place.
        </div>
        <div class="my-div-spacing">Does our site allow third party behavioral tracking?</div>
        <div class="my-div-spacing">It's also important to note that we do not allow third party behavioral tracking</div>

        <div class="my-gradient-heading">COPPA (Children Online Privacy Protection Act)</div>
        <div class="my-div-spacing">
            When it comes to the collection of personal information from children under 13,
            the Children's Online Privacy Protection Act (COPPA) puts parents in control.
            The Federal Trade Commission, the nation"s consumer protection agency, enforces
            the COPPA Rule, which spells out what operators of websites and online services
            must do to protect children"s privacy and safety online.
        </div>
        <div class="my-div-spacing">We do not specifically market to children under 13.</div>

        <div class="my-gradient-heading">Fair Information Practices</div>
        <div class="my-div-spacing">
            The Fair Information Practices Principles form the backbone of privacy law in the
            United States and the concepts they include have played a significant role in the
            development of data protection laws around the globe. Understanding the Fair
            Information Practice Principles and how they should be implemented is critical to
            comply with the various privacy laws that protect personal information.
        </div>
        <div class="my-div-spacing">
            In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:
        </div>
        <div class="my-div-spacing">We will notify the users via email</div>
        <div class="my-div-spacing_bullet">Within 7 business days</div>
        <div class="my-div-spacing">We will notify the users via in site notification</div>
        <div class="my-div-spacing_bullet">Within 7 business days</div>
        <div class="my-div-spacing">
            We also agree to the individual redress principle, which requires that individuals
            have a right to pursue legally enforceable rights against data collectors and
            processors who fail to adhere to the law. This principle requires not only that
            individuals have enforceable rights against data users, but also that individuals
            have recourse to courts or a government agency to investigate and/or prosecute
            non-compliance by data processors.
        </div>

        <div class="my-gradient-heading">CAN SPAM Act</div>
        <div class="my-div-spacing">
            The CAN-SPAM Act is a law that sets the rules for commercial email, establishes
            requirements for commercial messages, gives recipients the right to have emails
            stopped from being sent to them, and spells out tough penalties for violations.
        </div>
        <div class="my-div-spacing">We collect your email address in order to:</div>
        <div class="my-div-spacing_bullet">Send information, respond to inquiries, and/or other requests or questions.</div>
        <div class="my-div-spacing">To be in accordance with CANSPAM we agree to the following:</div>
        <div class="my-div-spacing_bullet">NOT use false, or misleading subjects or email addresses</div>
        <div class="my-div-spacing_bullet">Identify the message as an advertisement in some reasonable way</div>
        <div class="my-div-spacing_bullet">Include the physical address of our business or site headquarters</div>
        <div class="my-div-spacing_bullet">Monitor third party email marketing services for compliance, if one is used.</div>
        <div class="my-div-spacing_bullet">Honor opt-out/unsubscribe requests quickly</div>
        <div class="my-div-spacing_bullet">Allow users to unsubscribe by using the link at the bottom of each email</div>
        <div class="my-div-spacing">If at any time you would like to unsubscribe from receiving future emails, you can email us at:</div>
        <div class="my-div-spacing_bullet">Follow the instructions at the bottom of each email.</div>
    </div>
</div>
