@{
    ViewData["Title"] = ViewData["TOS"];
}
@{
    string siteName = "Avon Park Nazarene Church";
}
<style>
    .my-box {
        padding: 8px;
        margin-bottom: 7px;
        background-color: #60605F; /* TOS & Privacy Gray */
        color: black;
        display: block;
        text-decoration: none;
    }

    .my-gradient-heading {
        width: auto;
        background: linear-gradient(90deg, #60605F, transparent 100%);
        color: black;
        padding: 5px 10px;
        margin: 10px 0 0 0;
        max-width: 100%;
        border-radius: 15px;
        font-weight: bold;
    }

    .my-div-spacing {
        width: auto;
        padding: 5px 10px;
        max-width: 100%;
        text-align: left;
        font-weight: normal;
        line-height: 18px;
    }

    .my-div-spacing_bullet:before {
        width: auto;
        content: "-";
        padding: 5px 10px;
        max-width: 100%;
        text-align: left;
        font-weight: normal;
        line-height: 18px;
    }

</style>

<!-- TOS Policy -->
<div class="bg-gray-light text-white mx-auto text-center" style="max-width: 90%;">

    <h1 class="my-box">Terms Of Service</h1>

    <!-- TOS Content -->
    <div class="w-100 p-1 mb-0 mb-lg-3 text-start text-dark">
        <div class="w-100 p-1 text-start">
            <p style="font-weight: 500; font-size: 18px; line-height: 22px;">
                By accessing this web site, you are agreeing to be bound by these
                web site Terms and Conditions of Use, all applicable laws and regulations,
                and agree that you are responsible for compliance with any applicable local
                laws. If you do not agree with any of these terms, you are prohibited from
                using or accessing this site. The materials contained in this web site are
                protected by applicable copyright and trade mark law.
            </p>
        </div>

        <div class="my-gradient-heading">
            Use License
        </div>
        <div class="my-div-spacing">
            <ol type="a">
                <li>
                    Permission is granted to temporarily download one copy of the materials
                    (information or software) on @siteName's web site for personal,
                    non-commercial transitory viewing only. This is the grant of a license,
                    not a transfer of title, and under this license you may not:
                    <ol type="i">
                        <li>modify or copy the materials;</li>
                        <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
                        <li>attempt to decompile or reverse engineer any software contained on @siteName's web site;</li>
                        <li>remove any copyright or other proprietary notations from the materials; or</li>
                        <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
                    </ol>
                </li>
                <li>
                    This license shall automatically terminate if you violate any of these restrictions and may be terminated by @siteName at any time.
                    Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials
                    in your possession whether in electronic or printed format.
                </li>
            </ol>
        </div>

        <div class="my-gradient-heading">
            Disclaimer
        </div>
        <div class="my-div-spacing">
            <ol type="a">
                <li>
                    The materials on @siteName's web site are provided "as is". @siteName makes no warranties, expressed or implied, and hereby disclaims
                    and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a
                    particular purpose, or non-infringement of intellectual property or other violation of rights. Further, @siteName does not warrant
                    or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site
                    or otherwise relating to such materials or on any sites linked to this site.
                </li>
            </ol>
        </div>

        <div class="my-gradient-heading">
            Limitations
        </div>
        <div class="my-div-spacing">
            <p style="color: black;">
                In no event shall @siteName or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit,
                or due to business interruption,) arising out of the use or inability to use the materials on @siteName's Internet site, even if @siteName
                or a @siteName authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions
                do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not
                apply to you.
            </p>
        </div>

        <div class="my-gradient-heading">
            Revisions and Errata
        </div>
        <div class="my-div-spacing">
            <p style="color: black;">
                The materials appearing on @siteName's web site could include technical, typographical, or photographic errors. @siteName does not warrant
                that any of the materials on its web site are accurate, complete, or current. @siteName may make changes to the materials contained on its
                web site at any time without notice. @siteName does not, however, make any commitment to update the materials.
            </p>
        </div>

        <div class="my-gradient-heading">
            Links
        </div>
        <div class="my-div-spacing">
            <p style="color: black;">
                @siteName has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site.
                The inclusion of any link does not imply endorsement by @siteName of the site. Use of any such linked web site is at the user's own risk.
            </p>
        </div>

        <div class="my-gradient-heading">
            Site Terms of Use Modifications
        </div>
        <div class="my-div-spacing">
            <p style="color: black;">
                @siteName may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by
                the then current version of these Terms and Conditions of Use.
            </p>
        </div>

        <div class="my-gradient-heading">
            Governing Law
        </div>
        <div class="my-div-spacing">
            <p style="color: black;">
                Any claim relating to @siteName's web site shall be governed by the laws of the State of Illinois without regard to its conflict of law provisions.
                General Terms and Conditions applicable to Use of a Web Site.
            </p>
        </div>
    </div>
</div>