<style>

    svg, #container {
        height: 100%;
        width: 100%;
    }

    /* Show or NoShow Lettering */
    .noshow {
        display: none;
    }
    .show {
        display: inline;
    }

    /* Inline Svg Colors */
    .fill-white {
        fill: #FFFFFF;
    }
    .fill-gray {
        fill: #424143;
    }
</style>

<a title="link" href="/">
    <div class="ap-logo-size ratio mx-auto pb-lg-4">
        <div id="container">

            <!-- In line SVG code -->
            <?xml version="1.0" encoding="utf-8" ?>
            <svg version="1.1"
    xmlns="https://www.w3.org/2000/svg"
    xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="-10 -25 600 660" style="enable-background:new 0 0 600 600;" xml:space="preserve">
    <g id="AP-Logo-Church">
    <g id="AP-Logo-Church_v02">
    <path id="Logo-Text-Spanish" class="fill-white show" d="M140.728,477.615c0-0.642,0.535-1.178,1.071-1.178h2.249c0.535,0,1.071,0.535,1.071,1.178
    v39.51c0,0.642-0.535,1.178-1.071,1.178h-2.249c-0.535,0-1.071-0.535-1.071-1.178V477.615z M161.179,497.316
    c0,11.564,9.208,20.772,20.665,20.772c8.245,0,14.134-3.855,14.134-3.855c0.214-0.214,0.428-0.642,0.428-0.964v-13.277
    c0-0.535-0.535-1.071-1.071-1.071h-9.958c-0.642,0-1.071,0.428-1.071,1.071v2.141c0,0.642,0.428,1.071,1.071,1.071h6.639v8.138
    c0,0-3.962,2.463-10.279,2.463c-9.101,0-15.954-7.923-15.954-16.811c0-8.994,6.96-16.596,15.954-16.596
    c3.855,0,8.031,1.927,10.922,4.497c0.642,0.642,0.964,0.642,1.499,0.107c0.428-0.535,1.071-1.071,1.606-1.606
    c0.428-0.428,0.321-1.178-0.107-1.606c-3.855-3.319-8.031-5.354-13.812-5.354C170.387,476.437,161.179,485.752,161.179,497.316z
    M213.217,478.15l0.107,0v38.439c0,0.535,0.428,1.071,1.071,1.071h19.809c0.642,0,1.071-0.535,1.071-1.071v-1.713
    c0-0.535-0.428-1.071-1.071-1.071h-16.596V478.15c0-0.535-0.535-1.071-1.071-1.071h-2.249
    C213.645,477.079,213.217,477.615,213.217,478.15L213.217,478.15z M248.551,516.483c0,0.535,0.428,1.071,1.071,1.071h22.593
    c0.642,0,1.071-0.535,1.071-1.071v-1.713c0-0.535-0.428-1.071-1.071-1.071h-19.273v-14.776h16.382
    c0.535,0,1.071-0.428,1.071-1.071v-1.713c0-0.535-0.535-1.071-1.071-1.071h-16.382v-14.134h19.273
    c0.642,0,1.071-0.535,1.071-1.071v-1.713c0-0.535-0.428-1.071-1.071-1.071h-22.593c-0.642,0-1.071,0.535-1.071,1.071V516.483z
    M287.312,513.377c0.749,0.75,5.354,4.711,12.099,4.711s12.421-4.39,12.421-10.386c0-6.746-5.032-9.637-12.742-12.849
    c-4.818-2.034-7.709-4.283-7.709-8.138c0-2.463,1.82-6.424,7.923-6.424c3.533,0,7.067,2.463,7.495,2.677
    c0.964,0.535,1.499,0.321,2.034-0.535c0.214-0.321,0.428-0.75,0.642-1.071c0.75-1.071,0-1.713-0.321-1.927
    c0,0-4.176-2.998-9.744-2.998c-9.101,0-12.206,6.317-12.206,10.279c0,6.639,3.748,9.208,10.065,11.992
    c6.639,2.784,10.065,5.247,10.065,9.208c0,3.426-3.105,6.424-7.709,6.424c-5.032,0-9.208-4.069-9.637-4.39
    c-0.857-0.642-1.499-0.214-2.034,0.535c-0.321,0.321-0.535,0.75-0.857,1.071C286.455,512.628,286.991,513.056,287.312,513.377z
    M327.464,516.59c0,0.535,0.535,1.071,1.071,1.071h2.249c0.535,0,1.071-0.535,1.071-1.071V478.15c0-0.535-0.535-1.071-1.071-1.071
    h-2.249c-0.535,0-1.071,0.535-1.071,1.071V516.59z M346.309,517.66h2.249c0.535,0,0.857-0.321,0.964-0.642l4.176-9.53h20.344
    l4.283,9.53c0.107,0.321,0.428,0.642,0.964,0.642h2.249c0.857,0,1.285-0.75,0.964-1.499l-17.346-39.082
    c-0.214-0.321-0.428-0.642-0.964-0.642h-0.535c-0.535,0-0.75,0.321-0.964,0.642l-17.453,39.082
    C344.917,516.911,345.453,517.66,346.309,517.66z M355.304,503.848l8.352-19.059h0.428c2.784,6.317,5.568,12.742,8.352,19.059
    H355.304z M416.121,512.2c-0.428,0-0.857,0.321-0.857,0.75v1.499c0,0.428,0.428,0.75,0.857,0.75h29.874
    c0.428,0,0.857-0.321,0.857-0.75v-1.499c0-0.428-0.428-0.75-0.857-0.75H416.121z M415.693,505.989
    c0,0.107,0.107,0.321,0.321,0.321h4.283c3.533,0,6.424-2.998,6.424-6.639c0-3.641-2.891-6.639-6.424-6.639h-4.283
    c-0.214,0-0.321,0.107-0.321,0.321V505.989z M420.083,503.955h-2.034v-8.673h2.034c2.356,0,4.069,1.82,4.069,4.283
    s-1.713,4.283-4.069,4.283V503.955z M429.291,505.668c0,0.107,0.107,0.321,0.321,0.321h7.388c0.214,0,0.321-0.107,0.321-0.321
    v-1.499c0-0.107-0.107-0.321-0.321-0.321h-5.354v-3.319h4.497c0.107,0,0.321-0.107,0.321-0.321v-1.606
    c0-0.107-0.107-0.321-0.321-0.321h-4.497v-3.105h5.354c0.214,0,0.321-0.107,0.321-0.321v-1.499c0-0.107-0.107-0.321-0.321-0.321
    h-7.388c-0.214,0-0.321,0.107-0.321,0.321V505.668z M440.213,493.355l0,12.421c0,0.107,0.107,0.321,0.321,0.321h6.639
    c0.214,0,0.321-0.107,0.321-0.321v-1.499c0-0.107-0.107-0.321-0.321-0.321h-4.604v-10.6c0-0.107-0.107-0.321-0.321-0.321h-1.713
    C440.32,493.033,440.213,493.141,440.213,493.355L440.213,493.355z M65.991,545.285l0,52.359c0,0.857,0.642,1.499,1.499,1.499
    h2.784c0.857,0,1.499-0.643,1.499-1.499v-42.401l0,0L107.428,600h1.499c0.857,0,1.499-0.428,1.499-1.285v-52.359
    c0-0.857-0.642-1.499-1.499-1.499h-2.677c-0.857,0-1.499,0.642-1.499,1.499v41.545c-0.214,0-0.214,0-0.214,0L69.31,544h-2.034
    C66.419,544,65.991,544.429,65.991,545.285L65.991,545.285z M128.201,599.25h3.212c0.642,0,1.071-0.535,1.285-0.857l5.675-12.849
    h27.732l5.889,12.849c0.107,0.321,0.642,0.857,1.285,0.857h3.212c1.071,0,1.82-1.071,1.285-2.034l-23.556-52.359
    c-0.107-0.535-0.642-0.857-1.285-0.857h-0.857c-0.642,0-1.071,0.321-1.285,0.857l-23.663,52.359
    C126.594,598.073,127.344,599.358,128.201,599.25z M140.835,580.62l11.35-25.483h0.642c3.855,8.459,7.495,17.025,11.35,25.483
    H140.835z M189.232,597.537c0,0.857,0.642,1.499,1.499,1.499h32.336c0.857,0,1.499-0.642,1.499-1.499v-2.463
    c0-0.857-0.642-1.499-1.499-1.499H197.37l0,0l28.696-46.577v-0.964c0-0.857-0.642-1.499-1.499-1.499h-31.48
    c-0.857,0-1.499,0.643-1.499,1.499v2.463c0,0.857,0.642,1.499,1.499,1.499h24.52v0.214l-28.374,46.042V597.537z M238.7,599.25
    h3.212c0.642,0,1.071-0.535,1.285-0.857l5.675-12.849h27.732l5.889,12.849c0.107,0.321,0.642,0.857,1.285,0.857h3.212
    c1.071,0,1.82-1.071,1.285-2.034l-23.556-52.359c-0.107-0.535-0.642-0.857-1.285-0.857h-0.857c-0.642,0-1.071,0.321-1.285,0.857
    l-23.663,52.359C237.094,598.073,237.737,599.358,238.7,599.25z M251.335,580.62l11.35-25.483h0.642
    c3.855,8.459,7.495,17.025,11.35,25.483H251.335z M305.514,546.142v51.609c0,0.857,0.642,1.499,1.499,1.499h2.998
    c0.857,0,1.499-0.643,1.499-1.499V578.05h14.883l10.386,20.665c0,0.321,0.535,0.642,1.178,0.642h3.962
    c1.285,0,1.82-1.392,1.285-2.356l-10.707-19.809c6.746-2.677,11.564-8.673,11.564-15.847c0-9.315-7.709-16.703-17.025-16.703
    h-20.237C305.943,544.643,305.514,545.285,305.514,546.142L305.514,546.142z M326.501,572.696l-15.204,0v-22.378h15.204
    c5.996,0,11.136,5.032,11.136,11.029C337.636,567.664,332.497,572.696,326.501,572.696L326.501,572.696z M420.725,545.285v52.359
    c0,0.857,0.642,1.499,1.499,1.499h2.677c0.857,0,1.499-0.643,1.499-1.499v-42.401l0,0L462.056,600h1.285
    c0.857,0,1.499-0.428,1.499-1.285v-52.359c0-0.857-0.642-1.499-1.499-1.499h-2.677c-0.857,0-1.499,0.642-1.499,1.499v41.545
    c-0.214,0-0.214,0-0.214,0L423.724,544h-2.034C420.833,544,420.725,544.429,420.725,545.285L420.725,545.285z M365.368,597.859
    c0,0.857,0.642,1.499,1.499,1.499h30.73c0.857,0,1.499-0.643,1.499-1.499v-2.356c0-0.857-0.642-1.499-1.499-1.499h-26.233v-19.809
    h22.378c0.857,0,1.499-0.643,1.499-1.499v-2.356c0-0.857-0.642-1.499-1.499-1.499h-22.378v-18.845h26.233
    c0.857,0,1.499-0.643,1.499-1.499v-2.356c0-0.857-0.642-1.499-1.499-1.499h-30.73c-0.857,0-1.499,0.643-1.499,1.499V597.859z
    M480.258,572.054c0,15.204,11.885,27.304,26.875,27.304c14.883,0,26.875-11.992,26.875-27.304s-11.885-27.518-26.875-27.518
    C492.251,544.536,480.258,556.849,480.258,572.054z M485.505,571.947c0-12.099,9.744-22.164,21.629-22.164
    c11.885,0,21.629,10.065,21.629,22.164c0,12.206-9.744,22.057-21.629,22.057C495.249,594.004,485.505,584.153,485.505,571.947z" />
    <path id="Logo-Text-English" class="fill-white noshow" d="M125.631,475.902c5.996,0,10.386,2.034,14.348,5.461c0.535,0.535,0.535,1.178,0,1.713
    l-1.713,1.713c-0.535,0.642-0.964,0.535-1.499,0c-3.212-2.677-7.388-4.497-11.35-4.497c-9.315,0-16.489,7.816-16.489,17.239
    c0,9.208,7.174,17.025,16.489,17.025c5.14,0,8.138-2.034,11.35-4.497c0.642-0.535,0.964-0.321,1.499-0.214l1.82,1.713
    c0.535,0.321,0.321,1.178,0,1.713c-3.962,3.962-9.208,5.889-14.562,5.889c-11.885,0-21.522-9.53-21.522-21.308
    C104.323,485.431,113.746,475.902,125.631,475.902z M156.682,477.615l0,39.403c0,0.642,0.535,1.178,1.178,1.178h2.356
    c0.642,0,1.178-0.535,1.178-1.178V499.03h24.199v17.988c0,0.642,0.535,1.178,1.178,1.178h2.356c0.642,0,1.178-0.535,1.178-1.178
    v-39.403c0-0.642-0.535-1.178-1.178-1.178h-2.356c-0.642,0-1.178,0.535-1.178,1.178v17.346h-24.199v-17.346
    c0-0.642-0.535-1.178-1.178-1.178h-2.356C157.217,476.437,156.682,476.972,156.682,477.615L156.682,477.615z M209.469,477.615
    v25.162c0,8.994,6.317,15.847,15.633,15.847c9.53,0,15.847-6.853,15.847-15.847v-25.162c0-0.642-0.535-1.178-1.178-1.178h-2.356
    c-0.642,0-1.178,0.535-1.178,1.178v24.841c0,6.853-4.39,11.992-11.35,11.992s-11.136-5.14-11.136-11.992v-24.841
    c0-0.642-0.535-1.178-1.178-1.178h-2.356C209.576,476.437,209.469,476.972,209.469,477.615L209.469,477.615z M259.473,477.615
    l0,39.403c0,0.642,0.535,1.178,1.178,1.178h2.356c0.642,0,1.178-0.535,1.178-1.178v-15.204h11.35l7.816,15.633
    c0.107,0.214,0.428,0.535,0.964,0.535h2.998c0.964,0,1.285-0.857,0.964-1.713l-8.138-14.99c5.247-2.249,8.887-6.746,8.887-12.206
    c0-7.174-5.889-12.635-13.063-12.635H260.65C260.008,476.437,259.473,476.972,259.473,477.615L259.473,477.615z M264.291,497.959
    v-17.025h11.564c4.497,0,8.459,3.855,8.459,8.352c0,4.818-3.962,8.673-8.459,8.673H264.291z M303.052,497.852
    c0,11.778,9.637,21.308,21.522,21.308c5.354,0,10.6-1.927,14.562-5.889c0.321-0.535,0.535-1.392,0-1.713l-1.82-1.713
    c-0.535-0.107-0.857-0.321-1.499,0.214c-3.212,2.463-6.21,4.497-11.35,4.497c-9.315,0-16.489-7.816-16.489-17.025
    c0-9.422,7.174-17.239,16.489-17.239c3.962,0,8.138,1.82,11.35,4.497c0.535,0.535,0.964,0.642,1.499,0l1.713-1.713
    c0.535-0.535,0.535-1.178,0-1.713c-3.962-3.426-8.352-5.461-14.348-5.461C312.902,475.902,303.159,485.431,303.052,497.852z
    M355.732,517.018c0,0.642,0.535,1.178,1.178,1.178h2.356c0.642,0,1.178-0.535,1.178-1.178V499.03h24.199v17.988
    c0,0.642,0.535,1.178,1.178,1.178h2.356c0.642,0,1.178-0.535,1.178-1.178v-39.403c0-0.642-0.535-1.178-1.178-1.178h-2.356
    c-0.642,0-1.178,0.535-1.178,1.178v17.346h-24.199v-17.346c0-0.642-0.535-1.178-1.178-1.178h-2.356
    c-0.642,0-1.178,0.535-1.178,1.178V517.018z M410.125,515.198h64.244v-2.784h-64.244V515.198z M410.125,500.1
    c0,3.641,2.891,6.639,6.531,6.639c3.641,0,6.639-2.998,6.639-6.639c0-3.641-2.998-6.639-6.639-6.639
    S410.125,496.246,410.125,500.1z M412.481,500.1c0-2.141,1.82-4.176,4.176-4.176c2.356,0,4.176,1.82,4.176,4.176
    c0,2.356-1.82,4.176-4.176,4.176C414.515,504.276,412.481,502.242,412.481,500.1z M426.186,506.096
    c0,0.107,0.107,0.321,0.321,0.321h1.713c0.107,0,0.321-0.107,0.321-0.321v-4.711h4.497c0.107,0,0.321-0.107,0.321-0.321v-1.499
    c0-0.107-0.107-0.321-0.321-0.321h-4.497v-3.533h5.461c0.107,0,0.321-0.107,0.321-0.321v-1.499c0-0.107-0.107-0.321-0.321-0.321
    h-7.495c-0.107,0-0.321,0.107-0.321,0.321V506.096z M443.211,495.817l0.107,10.279c0,0.107,0.107,0.321,0.321,0.321h1.713
    c0.107,0,0.321-0.107,0.321-0.321V495.71h2.784c0.107,0,0.321-0.107,0.321-0.321v-1.499c0-0.107-0.107-0.321-0.321-0.321h-8.031
    c-0.107,0-0.321,0.107-0.321,0.321v1.606c0,0.107,0.107,0.321,0.321,0.321H443.211L443.211,495.817z M451.134,506.096
    c0,0.107,0.107,0.321,0.321,0.321h1.713c0.107,0,0.321-0.107,0.321-0.321v-5.032h5.996v5.032c0,0.107,0.107,0.321,0.321,0.321
    h1.713c0.107,0,0.321-0.107,0.321-0.321V493.89c0-0.107-0.107-0.321-0.321-0.321h-1.713c-0.107,0-0.321,0.107-0.321,0.321v4.818
    h-5.996v-4.818c0-0.107-0.107-0.321-0.321-0.321h-1.713c-0.107,0-0.321,0.107-0.321,0.321V506.096z M465.696,505.882
    c0,0.107,0.107,0.321,0.321,0.321h7.495c0.107,0,0.321-0.107,0.321-0.321v-1.499c0-0.107-0.107-0.321-0.321-0.321h-5.461v-3.212
    h4.497c0.107,0,0.321-0.107,0.321-0.321v-1.499c0-0.107-0.107-0.321-0.321-0.321h-4.497v-2.998h5.461
    c0.107,0,0.321-0.107,0.321-0.321v-1.499c0-0.107-0.107-0.321-0.321-0.321h-7.495c-0.107,0-0.321,0.107-0.321,0.321V505.882z
    M65.991,545.178l0,52.359c0,0.857,0.642,1.499,1.499,1.499h2.784c0.857,0,1.499-0.642,1.499-1.499v-42.401l0,0l35.656,44.757
    h1.499c0.857,0,1.499-0.428,1.499-1.285v-52.359c0-0.857-0.642-1.499-1.499-1.499h-2.677c-0.857,0-1.499,0.642-1.499,1.499v41.544
    c-0.214,0-0.214,0-0.214,0l-35.227-43.9h-2.034C66.419,543.893,65.991,544.322,65.991,545.178L65.991,545.178z M128.201,599.143
    h3.212c0.642,0,1.071-0.535,1.285-0.857l5.675-12.849h27.732l5.889,12.849c0.107,0.321,0.642,0.857,1.285,0.857h3.212
    c1.071,0,1.82-1.071,1.285-2.034l-23.556-52.359c-0.107-0.535-0.642-0.857-1.285-0.857h-0.857c-0.642,0-1.071,0.321-1.285,0.857
    l-23.663,52.359C126.594,598.073,127.344,599.25,128.201,599.143z M140.835,580.513l11.35-25.483h0.642
    c3.855,8.459,7.495,17.025,11.35,25.483H140.835z M189.232,597.537c0,0.857,0.642,1.499,1.499,1.499h32.336
    c0.857,0,1.499-0.642,1.499-1.499v-2.463c0-0.857-0.642-1.499-1.499-1.499H197.37l0,0l28.696-46.577v-0.964
    c0-0.857-0.642-1.499-1.499-1.499h-31.48c-0.857,0-1.499,0.643-1.499,1.499v2.463c0,0.857,0.642,1.499,1.499,1.499h24.52v0.214
    l-28.374,46.042V597.537z M238.7,599.143h3.212c0.642,0,1.071-0.535,1.285-0.857l5.675-12.849h27.732l5.889,12.849
    c0.107,0.321,0.642,0.857,1.285,0.857h3.212c1.071,0,1.82-1.071,1.285-2.034l-23.556-52.359c-0.107-0.535-0.642-0.857-1.285-0.857
    h-0.857c-0.642,0-1.071,0.321-1.285,0.857l-23.663,52.359C237.094,598.073,237.737,599.25,238.7,599.143z M251.335,580.513
    l11.35-25.483h0.642c3.855,8.459,7.495,17.025,11.35,25.483H251.335z M305.514,546.035v51.716c0,0.857,0.642,1.499,1.499,1.499
    h2.998c0.857,0,1.499-0.643,1.499-1.499v-19.809h14.883l10.386,20.665c0,0.321,0.535,0.642,1.178,0.642h3.962
    c1.285,0,1.82-1.392,1.285-2.356l-10.707-19.809c6.746-2.677,11.564-8.673,11.564-15.847c0-9.315-7.709-16.703-17.025-16.703
    h-20.237C305.943,544.536,305.514,545.178,305.514,546.035L305.514,546.035z M326.501,572.696l-15.204,0v-22.378h15.204
    c5.996,0,11.136,5.032,11.136,11.029C337.636,567.664,332.497,572.696,326.501,572.696L326.501,572.696z M365.368,597.859
    c0,0.857,0.642,1.499,1.499,1.499h30.73c0.857,0,1.499-0.643,1.499-1.499v-2.356c0-0.857-0.642-1.499-1.499-1.499h-26.233v-19.809
    h22.378c0.857,0,1.499-0.643,1.499-1.499v-2.356c0-0.857-0.642-1.499-1.499-1.499h-22.378V549.89h26.233
    c0.857,0,1.499-0.642,1.499-1.499v-2.356c0-0.857-0.642-1.499-1.499-1.499h-30.73c-0.857,0-1.499,0.643-1.499,1.499V597.859z
    M420.725,545.178v52.359c0,0.857,0.642,1.499,1.499,1.499h2.677c0.857,0,1.499-0.642,1.499-1.499v-42.401l0,0l35.655,44.757
    h1.285c0.857,0,1.499-0.428,1.499-1.285v-52.359c0-0.857-0.642-1.499-1.499-1.499h-2.677c-0.857,0-1.499,0.642-1.499,1.499v41.544
    c-0.214,0-0.214,0-0.214,0l-35.227-43.9h-2.034C420.833,543.893,420.725,544.322,420.725,545.178L420.725,545.178z
    M488.824,545.928v51.931c0,0.857,0.642,1.499,1.499,1.499h30.73c0.857,0,1.499-0.643,1.499-1.499v-2.356
    c0-0.857-0.642-1.499-1.499-1.499H494.82v-19.809h22.378c0.857,0,1.499-0.643,1.499-1.499v-2.356c0-0.857-0.642-1.499-1.499-1.499
    H494.82V549.89h26.233c0.857,0,1.499-0.642,1.499-1.499v-2.356c0-0.857-0.642-1.499-1.499-1.499h-30.516
    C489.681,544.536,488.824,545.071,488.824,545.928L488.824,545.928z" />
    <g id="AP-Logo">
    <circle id="AP-Logo-Body-Background" class="fill-white" cx="294.164" cy="220.578" r="220.578" />
    <path id="AP-Logo-Body" class="fill-gray" d="M294.164,0.001c-121.822,0-220.578,98.757-220.578,220.578
    s98.757,220.577,220.578,220.577s220.578-98.757,220.578-220.578C514.742,98.757,415.986,0.001,294.164,0.001z M294.633,437.284
    c-119.537,0-216.441-96.903-216.441-216.439S175.097,4.404,294.633,4.404s216.439,96.903,216.439,216.441
    S414.17,437.284,294.633,437.284z M294.164,9.347c-112.762,0-211.231,94.572-211.231,211.231S177.505,431.81,294.164,431.81
    s211.231-94.572,211.231-211.231S417.799,9.347,294.164,9.347z M295.689,28.367c110.495,0,192.931,84.062,192.931,192.25
    l-25.998-10.241l-23.235,10.241c0-79.447-59.955-145.26-144.076-145.26c-76.877,0-146.367,63.472-146.367,145.26
    c0,0.095-23.073-10.241-23.073-10.241l-26.16,10.241C99.71,112.429,191.187,28.367,295.689,28.367z M229.969,289.07
    c-0.641,0-7.904,0.214-8.545-0.427c0.107,0,1.923-1.388,2.67-2.136c2.457-2.563,4.593-6.088,5.02-11.749
    c1.829,0,4.307-0.008,6.111,0c2.379,0.011,4.153-0.06,6.385,0c0,0.107-0.401,3.087-0.961,6.195
    c-0.308,1.711-0.798,3.645-1.175,5.127c-1.303,5.123-6.409,9.933-10.895,10.361C229.862,292.167,230.183,290.245,229.969,289.07z
    M215.657,279.03c-0.32,0-0.641-0.214-0.641-0.32c0-0.214,0-3.204,0-3.418c0.107-0.32,0.534-0.427,0.748-0.534
    c2.457,0,8.438,0,8.865,0c0.214,0,1.282,0,1.495,0c1.389,0,0.32,3.632,0.214,3.952c-0.422,0.382-1.602,0.32-1.709,0.32
    C224.094,279.03,218.113,279.03,215.657,279.03z M217.259,271.019c0,0-1.282,0-1.282-0.748c0-0.641-0.427-2.35,1.923-2.777
    c2.884-0.641,11.535-1.602,18.478-3.097c18.585-4.059,43.258-11.429,54.045-8.652c10.467,2.67,15.274,11.642,16.555,14.526
    c0.32,0.854-0.427,0.748-0.427,0.748H217.259z M243.735,274.947c0.067-0.189,0.134-0.181,0.546-0.19
    c7.37,0,20.935,0.107,33.538,0c15.06-0.107,28.304,0,29.159,0c0.214,0,0.427,0.214,0.534,0.427
    c0.214,0.748,0.214,2.563-0.107,3.418c-0.107,0.214-0.214,0.32-0.427,0.427c-0.748,0-63.251,0-63.785,0
    C242.949,279.03,243.66,275.161,243.735,274.947z M285.189,249.871c-12.069,0-29.372,0.748-44.433-5.447
    c-27.343-11.322-25.848-34.393-23.818-43.792c2.243-12.817,12.603-16.983,12.497-16.128c-1.068,5.234-6.302,22.43,0.32,35.247
    c13.458,29.052,47.21,18.158,66.756,25.207c14.206,5.127,13.458,13.458,14.74,16.021c0.534,1.068,5.127-5.874,7.904-11.642
    c3.631-7.583,3.097-19.973-1.709-29.159c-2.243-4.272-8.972-11.749-27.023-23.178c-37.17-23.605-6.302-53.725-3.845-52.23
    c-9.186,14.526-7.37,25.741-5.447,31.188c-0.214-1.923-0.107-4.379,0.214-7.583c1.175-8.545,4.7-13.565,6.195-15.38
    c0.854-1.068,0.961-0.32,0.748-0.107c-8.545,19.866-1.923,30.547,2.563,34.82c0.534,0.32,0.961,0.748,1.495,1.068
    c6.195,1.602,9.292-7.797,5.127-13.244c-0.748-1.175,0.641-0.748,1.175-0.427c2.35,1.175,6.729,3.738,9.292,10.04
    c1.709,4.059-0.32,10.04-3.525,11.856c3.204,2.243,6.622,4.806,10.361,7.797c1.495,1.282,15.167,15.06,14.526,29.586
    c0,1.388-0.107,2.457,0.107,2.35c3.525-1.068,14.312-18.798,5.127-34.927c-5.981-10.467-27.129-25.1-27.236-25.207
    c-1.816-1.175,5.768,0.427,11.749,3.525c10.467,5.34,49.559,30.227,9.826,67.824c-6.409,5.981-16.128,18.157-18.692,20.828
    c-0.32,0.32-0.32,0.107-0.427,0C307.619,265.038,308.794,249.871,285.189,249.871z M236.164,166.133
    c-0.107-6.195,5.447-16.876,5.447-13.351c0,3.738-7.37,27.663,32.363,54.9c0.427,0.32,0.534,0.854,0.32,0.854
    c-16.021,0-24.459-6.515-30.227-11.108c-6.302-5.554-8.545-11.429-9.186-13.458c-0.427-1.282,0.214-0.854,0.32-0.641
    c2.991,4.7,11.749,14.953,18.478,16.662C253.894,199.991,235.737,185.358,236.164,166.133z M308.794,244.53
    c0.748,0,2.67,0.641,3.311,2.029c0.961,2.029-0.214,5.447-3.311,1.495C306.765,245.598,306.551,244.317,308.794,244.53z
    M312.639,275.078c0-0.214,0.32-0.214,0.534-0.32c16.662,0,56.609,0,60.347,0c0.961,0,4.059-0.214,4.806,0.107
    c0.748,0.32,0.641,3.952-0.107,4.165c-0.748,0.107-48.812,0-65.047,0c-0.32,0-0.534-0.214-0.534-0.427
    C312.532,278.389,312.532,275.398,312.639,275.078z M378.54,271.019h-63.231c0,0-0.641-0.107-0.32-0.641
    c1.389-2.243,6.088-9.292,12.603-11.429c7.477-2.563,24.032,3.632,37.169,6.836c4.806,1.175,11.001,2.029,13.031,2.457
    c0.534,0.107,1.068,0.748,1.175,1.068c0.107,0.214,0.107,0.854,0.32,1.175c0,0.214-0.214,0.32-0.32,0.427
    S378.54,271.019,378.54,271.019z M213.2,277.242c0,1.147-0.937,2.077-2.083,2.077c-1.144,0-2.076-0.93-2.076-2.077
    c0-1.144,0.932-2.082,2.076-2.082C212.263,275.16,213.2,276.098,213.2,277.242z M144.358,336.732
    c-1.374,0.882-2.086,1.663-2.29,2.603l-6.326-9.846c0.397-0.012,0.757-0.081,1.214-0.376c0.458-0.294,1.137-1.377,1.816-2.461
    l17.494-27.655l-0.073-0.114l-18.835,12.099c-5.037,3.237-6.886,5.395-7.096,9.977l-8.9-13.854
    c2.514,0.892,5.311,0.713,7.428-0.647l28.51-18.315c2.118-1.361,3.443-3.83,3.677-6.487l8.569,13.339
    c-0.532,0.179-1.063,0.36-1.578,0.691c-0.63,0.404-1.341,1.185-1.963,2.231l-15.691,24.799l0.074,0.114l16.659-10.702
    c5.038-3.236,6.887-5.395,7.097-9.977l8.9,13.854c-2.514-0.892-5.31-0.713-7.429,0.647L144.358,336.732z M184.065,379.42
    l-11.02-9.619c2.041-0.476,3.653-1.598,4.906-3.033c0.805-0.923,1.815-2.389,2.031-3.465l-12.66-11.051
    c-1.177,0.417-2.513,1.327-3.632,2.609c-1.342,1.538-2.069,3.612-1.869,5.142l-10.662-9.306c3.68-0.491,8.56-3.185,11.848-5.192
    l28.355-16.341c0.928-0.546,1.893-1.238,2.43-1.854c0.358-0.41,0.613-0.908,0.478-1.48l9.328,8.144
    c-0.48,0.032-0.806,0.199-1.119,0.558c-0.448,0.513-1.559,2.614-2.351,4.452l-12.467,28.042
    C186.115,370.554,184.105,375.753,184.065,379.42z M223.622,401.583c-0.705-1.488-1.896-2.611-5.066-4.181l-25.241-12.507
    l32.108-23.729c1.184-0.856,2.125-1.529,2.488-2.261c0.393-0.792,0.237-1.705-3.177-3.396
    c-6.218-3.081-11.321-0.293-15.626,3.799l-0.183,0.062l8.126-16.401c0.336,0.395,0.703,0.88,1.161,1.335
    c0.458,0.455,1.007,0.878,1.617,1.181l24.753,12.264l-29.863,21.957c-1.669,1.223-3.763,2.843-4.186,3.697
    c-0.664,1.341,0.131,2.494,4.094,4.458c7.255,3.594,12.479,0.867,17.423-3.593l0.182-0.062L223.622,401.583z M267.387,410.796
    c1.503-1.46,2.306-3.252,2.64-5.128c0.215-1.205,0.323-2.982-0.045-4.015l-16.544-2.945c-0.794,0.965-1.47,2.434-1.768,4.108
    c-0.357,2.01,0.089,4.161,1.049,5.369l-13.932-2.479c2.9-2.317,5.693-7.141,7.476-10.555l15.872-28.616
    c0.514-0.945,0.984-2.035,1.127-2.839c0.096-0.536,0.057-1.095-0.353-1.516l12.191,2.17c-0.395,0.275-0.588,0.586-0.671,1.055
    c-0.12,0.67,0.011,3.043,0.28,5.025l3.771,30.454c0.495,3.819,1.453,9.31,3.309,12.474L267.387,410.796z M328.101,409.721
    c-2.77,0.333-3.538-1.493-5.08-9.189c-1.767-8.421-3.751-10.101-11.181-9.207l-3.783,0.456l1.496,12.428
    c0.415,3.445,2.193,5.699,4.769,7.17l-15.672,1.885c1.927-2.219,2.634-3.743,2.211-7.256l-3.925-32.626
    c-0.382-3.174-1.493-5.576-4.364-7.222c2,0.102,3.629-0.026,6.196-0.334c2.094-0.252,10.084-1.624,13.529-2.035
    c12.429-1.496,16.535,4.726,17.202,10.265c0.723,6.012-1.321,10.096-6.673,12.315c4.204,1.344,6.855,2.876,9.034,13.578
    c0.834,4.08,2.053,6.812,4.955,8.723L328.101,409.721z M381.769,391.585l-27.798,12.163c1.278-2.341,1.542-5.131,0.534-7.437
    l-13.581-31.04c-1.009-2.306-3.237-4.005-5.825-4.656l28.173-12.327c1.807-0.79,2.669-1.538,3.704-2.734l6.327,14.46
    c-5.89-3.957-10.421-4.128-17.464-1.046c-4.924,2.154-6.159,4.253-4.632,7.744l2.672,6.108c1.301-0.42,2.95-1.067,4.383-1.695
    c4.612-2.018,7.733-4.052,8.558-8.275l6.027,13.775c-3.635-2.197-7.246-1.286-11.858,0.733c-1.434,0.627-3.028,1.399-4.219,2.069
    l3.626,8.29c1.554,3.553,3.623,4.207,9.669,1.562c7.168-3.136,10.502-7.566,10.88-15.528l7.281,16.642
    C386.635,389.976,385.01,390.168,381.769,391.585z M424.963,360.823c-0.071-0.391-0.193-0.736-0.552-1.145
    c-0.359-0.41-1.531-0.92-2.703-1.43l-29.952-13.183l-0.102,0.09l14.768,16.823c3.95,4.5,6.36,6.007,10.923,5.532l-12.375,10.863
    c0.509-2.619-0.085-5.357-1.746-7.249l-22.354-25.466c-1.661-1.892-4.299-2.834-6.962-2.67l11.915-10.459
    c0.256,0.5,0.514,0.998,0.918,1.459c0.493,0.562,1.372,1.15,2.499,1.609l26.857,11.825l0.102-0.09l-13.062-14.881
    c-3.95-4.5-6.359-6.007-10.922-5.532l12.375-10.863c-0.508,2.618,0.085,5.358,1.746,7.248l24.508,27.92
    c1.078,1.228,1.955,1.815,2.916,1.878L424.963,360.823z M464.006,310.015l-15.748,25.938c-0.301-2.65-1.688-5.085-3.841-6.392
    l-28.962-17.584c-2.152-1.306-4.951-1.414-7.442-0.459l15.96-26.286c1.024-1.687,1.298-2.794,1.458-4.368l13.492,8.191
    c-7.095,0.15-10.9,2.616-14.89,9.187c-2.79,4.594-2.592,7.022,0.665,9l5.699,3.46c0.822-1.092,1.799-2.568,2.611-3.906
    c2.613-4.304,3.996-7.762,2.243-11.692l12.853,7.804c-4.237,0.293-6.668,3.115-9.28,7.419c-0.812,1.338-1.672,2.886-2.262,4.119
    l7.735,4.696c3.315,2.013,5.383,1.359,8.808-4.282c4.061-6.688,4.242-12.229-0.029-18.961l15.528,9.427
    C467.061,305.9,465.842,306.99,464.006,310.015z M211.117,275.528c-0.945,0-1.715,0.763-1.715,1.714
    c0,0.946,0.771,1.716,1.715,1.716c0.952,0,1.717-0.77,1.717-1.716C212.834,276.291,212.069,275.528,211.117,275.528z
    M211.908,278.13c0.04,0.071-0.015,0.157-0.097,0.157h-0.195c-0.046,0-0.086-0.047-0.102-0.081l-0.322-0.715h-0.423v0.686
    c0,0.058-0.046,0.11-0.11,0.11h-0.148c-0.065,0-0.11-0.052-0.11-0.11v-1.881c0-0.058,0.045-0.107,0.11-0.107h0.813
    c0.357,0,0.705,0.212,0.705,0.642c0,0.429-0.303,0.584-0.464,0.623C211.68,277.677,211.795,277.907,211.908,278.13z
    M211.67,276.831c0,0.175-0.135,0.327-0.346,0.327h-0.562v-0.655h0.562C211.535,276.503,211.67,276.634,211.67,276.831z
    M310.014,384.691l-2.77,0.334l-1.284-10.673c-0.188-1.554,0.934-3.059,5.189-3.571c6.417-0.772,9.176,1.089,9.729,5.682
    C321.497,381.597,317.985,383.733,310.014,384.691z M256.906,392.417l9.793-18.918l0.134,0.024l2.331,21.076L256.906,392.417z
    M191.683,337.482l0.103,0.089l-8.868,19.264l-9.38-8.188L191.683,337.482z M237.125,279.991l-0.214,0.854
    c-0.076,0.304-0.057,0.422-0.32,0.427h-2.243l-1.495,5.127c-0.056,0.179-0.096,0.21-0.427,0.214h-0.854
    c-0.226-0.013-0.375-0.023-0.32-0.214l1.495-5.127h-2.243c-0.158,0.003-0.21-0.081-0.107-0.427l0.214-0.854
    c0.1-0.414,0.1-0.414,0.32-0.427h2.243l0.641-2.35c0.05-0.165,0.214-0.214,0.427-0.214h0.45h0.404c0.214,0,0.32,0.107,0.32,0.214
    l-0.641,2.35h2.243C237.282,279.556,237.174,279.789,237.125,279.991z M121.038,182.95c-0.964,0.115-2.116,0.158-2.44,0.095
    c-0.226-0.044-0.376-0.141-0.506-0.335l-1.153,5.895c0.207-0.196,0.478-0.21,0.738-0.159c0.388,0.076,0.914,0.313,1.368,0.57
    l13.751,7.935c1.641,0.892,3.958,2.287,5.059,3.713l1.316-6.737c-0.592,0.456-1.641,0.654-2.612,0.464
    c-0.81-0.158-1.517-0.499-1.978-0.891l1.564-8.001c0.505-0.17,1.366-0.103,1.949,0.011c0.907,0.177,1.77,0.581,2.465,1.323
    l1.362-6.964c-1.549,0.874-4.222,1.294-6.078,1.502L121.038,182.95z M131.556,191.766l-9.096-4.906l0.013-0.064l10.242-0.957
    L131.556,191.766z M146.461,166.549l-2.008,5.837c-0.04-0.188-0.299-0.452-0.673-0.581c-0.313-0.107-0.793-0.133-1.168-0.157
    l-15.851-0.708c-2.577-0.119-4.815,0.297-6.293,0.94l2.599-7.554c0.251,1.099,0.777,1.699,1.995,2.118
    c0.655,0.225,1.478,0.369,2.407,0.41l12.887,0.595l0.032-0.094l-10.524-7.462c-0.756-0.54-1.494-0.933-2.149-1.159
    c-1.218-0.419-2.002-0.27-2.875,0.441l2.46-7.147c0.54,1.373,2.279,2.914,3.72,4.003l13.514,10.028
    c0.364,0.265,0.747,0.467,1.06,0.574C145.969,166.763,146.242,166.683,146.461,166.549z M147.825,136.272
    c-8.357-4.246-12.46-1.778-14.718,2.664c-2.258,4.443-1.832,9.213,6.525,13.459c6.649,3.379,11.758,3.161,14.718-2.664
    C157.31,143.905,154.474,139.651,147.825,136.272z M151.232,148.146c-1.466,2.884-4.596,2.996-9.656,0.424
    c-5.591-2.84-6.711-5.372-5.35-8.049c1.36-2.678,4.064-3.265,9.655-0.425C150.942,142.668,152.696,145.263,151.232,148.146z
    M170.507,123.164l-3.272,4.641c-0.077-0.177-0.175-0.326-0.39-0.478c-0.216-0.152-0.827-0.259-1.438-0.367l-15.624-2.815
    l-0.038,0.054l8.876,6.257c2.374,1.674,3.682,2.11,5.78,1.368l-4.603,6.529c-0.058-1.293-0.649-2.517-1.647-3.221l-13.436-9.471
    c-0.999-0.704-2.35-0.848-3.587-0.469l4.431-6.286c0.178,0.206,0.355,0.412,0.598,0.583c0.297,0.209,0.777,0.386,1.361,0.475
    l14.01,2.526l0.038-0.054l-7.851-5.534c-2.374-1.673-3.681-2.11-5.779-1.368l4.602-6.529c0.058,1.292,0.649,2.517,1.647,3.221
    l14.731,10.384C169.566,123.067,170.047,123.244,170.507,123.164z M183.126,104.169l-1.996-2.155
    c-1.211-1.308-1.188-1.915,1.122-4.909c3.539-4.583,1.97-7.539,0.176-9.476c-2.983-3.221-6.708-2.92-9.735-0.116
    c-1.236,1.146-3.982,3.96-4.733,4.655c-0.92,0.852-1.524,1.366-2.338,1.895c1.595-0.172,2.715,0.454,3.77,1.593l10.833,11.696
    c1.166,1.259,1.323,2.059,1.198,3.479l5.618-5.204C185.61,105.783,184.27,105.405,183.126,104.169z M179.14,95.399
    c-1.064,1.57-1.35,2.33-1.26,3.011l-0.048,0.045l-3.858-4.165c-1.435-1.55-1.014-2.795,0.318-4.028
    c2.034-1.884,3.967-1.109,4.909-0.092C180.501,91.573,180.602,93.235,179.14,95.399z M194.728,74.11
    c-0.776-0.582-1.639-1.346-1.83-1.616c-0.134-0.189-0.175-0.361-0.136-0.592l-4.904,3.468c0.284,0.001,0.491,0.179,0.644,0.394
    c0.228,0.324,0.444,0.857,0.596,1.357l4.467,15.232c0.571,1.779,1.283,4.387,1.096,6.178l5.603-3.964
    c-0.744-0.08-1.638-0.66-2.21-1.468c-0.477-0.674-0.753-1.408-0.815-2.011l6.655-4.706c0.482,0.225,1.059,0.868,1.402,1.353
    c0.534,0.754,0.879,1.642,0.871,2.659l5.793-4.097c-1.724-0.437-3.947-1.979-5.433-3.11L194.728,74.11z M196.249,87.748
    l-3.192-9.828l0.053-0.038l8.069,6.379L196.249,87.748z M226.814,73.504c-2.811-4.492-4.276-4.737-6.415-4.632
    c2.054-1.919,2.288-4.122,0.936-6.731c-1.245-2.403-4.169-4.531-9.562-1.738c-1.494,0.771-4.891,2.754-5.8,3.225
    c-1.114,0.577-1.831,0.912-2.758,1.205c1.583,0.261,2.496,1.164,3.21,2.541l7.333,14.156c0.789,1.524,0.727,2.337,0.23,3.673
    l6.799-3.523c-1.42-0.231-2.612-0.952-3.386-2.446l-2.794-5.393l1.641-0.85c3.224-1.67,4.411-1.244,6.647,2.281
    c2.01,3.234,2.669,3.933,3.871,3.311l3.781-1.959C228.905,76.25,227.887,75.216,226.814,73.504z M214.293,70.288l-1.202,0.622
    l-2.399-4.631c-0.349-0.673-0.097-1.548,1.75-2.505c2.784-1.443,4.354-1.067,5.387,0.926
    C218.984,66.929,217.752,68.497,214.293,70.288z M247.938,64.952c1.518,1.254,3.636,2.824,5.514,3.5l-7.857,2.729
    c0.369-0.547,0.487-1.112,0.216-1.892c-0.173-0.499-0.514-1.079-1.138-1.666l-6.674-6.136l-1.98,4.357l1.658,4.77
    c0.443,1.278,1.003,1.782,2.307,2.517l-6.921,2.404c0.706-1.084,0.94-2.422,0.539-3.576l-5.394-15.526
    c-0.401-1.153-1.414-2.06-2.641-2.472l6.921-2.404c-0.568,1.385-0.693,2.128-0.249,3.406l2.08,5.986l3.17-7.67
    c0.577-1.354,0.592-1.918,0.385-2.51c-0.173-0.499-0.436-0.652-0.804-0.804l7.046-2.448c-0.508,1.155-1.797,3.175-2.466,4.77
    l-2.095,5.131L247.938,64.952z M281.649,55.762c0.614,5.245-1.402,8.853-6.611,9.496c-4.126,0.51-8.921-1.692-10.03-10.668
    c-0.983-7.96,2.426-12.405,7.372-13.015c1.966-0.242,3.602,0.353,4.618,0.228c0.786-0.097,1.307-0.461,1.835-1.025l1.161,9.403
    c0.004,0.033,0.008,0.066-0.025,0.069c-0.033,0.004-0.038-0.028-0.074-0.059c-2.237-3.582-4.31-5.287-6.636-5
    c-2.457,0.303-4.802,2.322-3.981,8.972c0.695,5.634,3.399,7.063,6.249,6.711c2.849-0.352,4.822-2.425,6.017-5.133L281.649,55.762
    z M304.561,44.159l-0.249,16.437c-0.019,1.221,0.623,2.42,1.634,3.227l-7.327-0.111c1.006-1.107,1.38-1.762,1.4-3.115
    l0.112-7.426l-7.855-0.119l-0.112,7.426c-0.021,1.353,0.332,2.019,1.306,3.156l-7.328-0.111c1.035-0.777,1.713-1.955,1.732-3.176
    l0.249-16.437c0.018-1.221-0.625-2.42-1.635-3.227l7.327,0.11c-1.007,1.108-1.38,1.762-1.401,3.115l-0.088,5.842l7.856,0.119
    l0.087-5.842c0.021-1.353-0.333-2.019-1.306-3.156l7.327,0.11C305.257,41.76,304.578,42.938,304.561,44.159z M325.652,43.629
    l7.231,1.179c-1.137,0.617-1.98,1.683-2.176,2.888l-1.7,10.423c-1.021,6.254-3.822,9.073-10.237,8.027
    c-4.625-0.755-7.418-3.517-6.685-8.012l2.141-13.126c0.197-1.205-0.263-2.484-1.145-3.43l7.231,1.18
    c-1.158,0.948-1.623,1.541-1.841,2.876l-2.004,12.279c-0.509,3.126,0.554,4.404,3.126,4.823c2.182,0.356,4.376-0.389,4.887-3.516
    l2.003-12.279C326.701,45.605,326.449,44.895,325.652,43.629z M348.721,49.155c-1.605-0.508-5.411-1.5-6.387-1.808
    c-1.196-0.377-1.942-0.646-2.805-1.092c0.94,1.302,0.95,2.586,0.485,4.066l-4.793,15.204c-0.516,1.637-1.133,2.169-2.429,2.764
    l7.304,2.302c-0.844-1.166-1.179-2.517-0.673-4.122l1.826-5.792l1.762,0.556c3.464,1.091,4.003,2.231,3.1,6.307
    c-0.857,3.709-0.883,4.67,0.408,5.076l4.06,1.28c-0.9-1.425-0.892-2.876-0.445-4.846c1.179-5.166,0.314-6.372-1.276-7.808
    c2.809,0.09,4.53-1.306,5.412-4.107C355.082,54.552,354.512,50.981,348.721,49.155z M349.979,56.473
    c-0.755,2.393-2.734,2.634-6.448,1.463l-1.291-0.407l1.568-4.974c0.228-0.724,1.024-1.165,3.008-0.54
    C349.806,52.958,350.654,54.332,349.979,56.473z M376.993,60.442l-4.024,8.575c-0.014,0.03-0.028,0.06-0.057,0.046
    c-0.03-0.014-0.016-0.044-0.032-0.089c0.014-4.222-0.832-6.77-2.954-7.765c-2.24-1.052-5.3-0.592-8.145,5.473
    c-2.412,5.138-0.885,7.787,1.715,9.007c2.599,1.22,5.372,0.516,7.826-1.139l0.076,0.072c-2.273,4.766-5.9,6.746-10.651,4.516
    c-3.764-1.766-6.65-6.182-2.808-14.368c3.407-7.26,8.659-9.206,13.17-7.089c1.791,0.841,2.86,2.217,3.785,2.652
    C375.611,60.668,376.244,60.638,376.993,60.442z M393.976,71.237l6.141,4c-1.29,0.105-2.492,0.741-3.158,1.764l-8.971,13.776
    c-0.668,1.023-0.762,2.379-0.337,3.601l-6.141-3.999c1.443-0.4,2.107-0.755,2.846-1.889l4.054-6.224l-6.585-4.287l-4.053,6.224
    c-0.74,1.134-0.796,1.886-0.578,3.367l-6.141-3.999c1.291-0.106,2.492-0.741,3.159-1.764l8.972-13.776
    c0.667-1.023,0.761-2.379,0.337-3.601l6.14,3.999c-1.443,0.4-2.107,0.755-2.845,1.889l-3.189,4.896l6.583,4.287l3.189-4.896
    C394.138,73.469,394.193,72.717,393.976,71.237z M407.298,95.89c-5.31,5.236-6.722,10.15-2.134,14.802
    c4.587,4.653,9.52,3.311,14.831-1.926c6.674-6.58,5.633-11.254,2.134-14.802S413.971,89.31,407.298,95.89z M416.982,105.712
    c-4.042,3.985-7.057,4.827-9.328,2.525c-2.27-2.303-1.386-5.307,2.656-9.292c4.464-4.402,7.219-4.663,9.328-2.525
    C421.746,98.559,421.447,101.31,416.982,105.712z M441.987,117.588l-5.744,4.387c1.327-2.341,0.845-4.549-1.037-7.015
    c-1.463-1.915-2.459-1.86-3.561-1.019l-2.859,2.183c0.233,0.361,0.649,0.958,1.169,1.64c1.363,1.784,2.152,2.219,4.206,2.353
    l-5.613,4.287c0.513-1.721-0.074-3.142-1.215-4.637c-0.44-0.577-0.908-1.134-1.275-1.56l-5.64,4.306
    c-0.97,0.741-1.514,1.987-1.522,3.281l-4.647-6.086c1.25,0.332,2.595,0.136,3.565-0.606l13.065-9.975
    c0.97-0.741,1.513-1.987,1.522-3.281l7.872,10.309C440.853,116.918,441.304,117.238,441.987,117.588z M459.4,148.696
    l-8.226,4.065l-0.029-0.059c2.504-2.011,3.8-4.455,2.746-6.585c-0.657-1.332-1.454-1.38-2.697-0.766l-12.783,6.317
    c-1.094,0.541-1.868,1.66-2.124,2.928l-3.393-6.865c1.164,0.566,2.521,0.632,3.616,0.091l12.782-6.317
    c1.244-0.614,1.69-1.276,1.031-2.608c-1.053-2.131-3.782-2.586-6.899-1.819l-0.029-0.059l8.226-4.066
    c0.014,0.251,0.011,0.547,0.055,0.857c0.042,0.31,0.13,0.635,0.276,0.931l6.229,12.606
    C458.489,147.969,459.004,148.414,459.4,148.696z M467.602,173.345c-1.074-0.721-2.409-0.973-3.57-0.588l-15.598,5.181
    c-1.16,0.385-2.079,1.387-2.508,2.607l-2.309-6.954c1.377,0.586,2.118,0.722,3.402,0.296l7.047-2.341l-2.476-7.455l-7.048,2.341
    c-1.284,0.427-1.796,0.979-2.549,2.273l-2.31-6.954c1.074,0.721,2.41,0.973,3.569,0.588l15.599-5.182
    c1.159-0.385,2.078-1.386,2.508-2.606l2.309,6.954c-1.377-0.586-2.117-0.722-3.402-0.296l-5.544,1.841l2.477,7.455l5.544-1.842
    c1.284-0.427,1.796-0.979,2.548-2.272L467.602,173.345z M467.666,190.035c-0.458-2.567-1.308-3.388-3.128-3.063l-3.185,0.568
    c0.052,0.661,0.169,1.512,0.302,2.26c0.428,2.404,1.034,4.107,2.932,4.976l-7.182,1.281c1.449-1.466,1.429-3.273,1.001-5.677
    c-0.134-0.748-0.317-1.587-0.499-2.225l-4.321,0.77c-1.853,0.33-2.396,1.232-1.834,4.384c0.665,3.737,2.376,5.813,6.09,6.894
    l-8.677,1.546c0.378-0.704,0.472-1.492,0.17-3.182l-2.583-14.494c0.959,0.868,2.245,1.309,3.447,1.095l16.185-2.884
    c1.202-0.215,2.255-1.073,2.856-2.219l2.618,14.689c0.168,0.942,0.423,1.434,0.87,2.058l-7.54,1.343
    C467.725,195.825,468.321,193.707,467.666,190.035z" />
    </g>
    </g>
    </g>
    </svg>

        </div>
    </div>
</a>

<!-- Toggle Script -->
@* <script>
	eventToggleLogo();
</script> *@