<!-- Shared/Index.cshtml -->
@{
    var galleriesFolder = "Gallery";
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString() ?? "Shared";

    // galleryFolder
    var galleryFolder = currentController.Replace("slide", "", StringComparison.OrdinalIgnoreCase)
                                         .Replace("combo", "", StringComparison.OrdinalIgnoreCase);
    // galleryType
    var galleryType = currentController.Contains("slide", StringComparison.OrdinalIgnoreCase) ? "Slideshows" :
                      currentController.Contains("combo", StringComparison.OrdinalIgnoreCase) ? "Galleries" : "Galleries"; // Say Gallerys in Heading instead of Combos ie "Combos" : "Galleries"; 
    galleryType ??= "Galleries"; // default - handle null
    
    // folders
    var foldersPath = System.IO.Path.Combine(Directory.GetCurrentDirectory(), $"wwwroot/{galleriesFolder}/{galleryFolder}");
    var folders = Directory.GetDirectories(foldersPath)
                          .Where(folder => !System.IO.Path.GetFileName(folder).StartsWith("_"))
                          .Select(folder => System.IO.Path.GetFileName(folder))
                          .ToList();

    var backgroundImage = $"{galleriesFolder}/{galleryFolder}/background.webp";
    var imageExtensions = new[] { ".jpg", ".png", ".webp", ".svg" };
    foreach (var extension in imageExtensions)
    {
        var imagePath = $"{galleriesFolder}/{galleryFolder}/background{extension}";
        if (System.IO.File.Exists(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", imagePath)))
        {
            backgroundImage = imagePath;
            break;
        }
    }
}

<!-- View Heading -->
<div id="projector"></div>

<div class="row text-center mt-5 viewContainer">
    <div class="col-12 text-start pt-4 ms-md-3 pe-md-5">

        <!-- Heading -->
        <div class="row">

            <!-- Back Link Button -->
            <div class="col-1 text-center d-flex">
                <a style="height: 24px; width: 36px;" asp-controller="Home" asp-action="Index" id="back">
                    <img style="height: 24px; width:24px;" src="/lib/svg/buttons/back-white.svg" alt="Home">
                </a>
            </div>

            <!-- Heading -->
            <div class=" col-11 text-center my-2">
                <h2 class="text-white" style="margin-left:-40px;">
                    @galleryFolder
                </h2>
            </div>

        </div>

        <!-- Link Button Menu -->
        <div class="container text-center my-2">

            <!-- Folder Links -->
            <div class="mx-auto">
                <ul class="list-unstyled d-inline-block" style="width:130px;">
                    @foreach (var folder in folders)
                    {
                        <li class="mt-2 text-start">
                            <a id="@folder-link" class="chalk-link fs-5" asp-controller="@currentController" asp-action="Gallery" asp-route-viewName="@folder">@folder</a>
                        </li>
                    }
                </ul>
            </div>

        </div>        

    </div>
</div>